#navbar{
    background-color: darkblue;
}

#horizontal_list{
    list-style: none;
    margin: 0;
    padding: 2%;
    text-align: center;
}

.navbar_item{
    display: inline;
    color: antiquewhite;
    margin: 7%;
}

.navbar_item a{
    display: inline-block;
}

#members_title{
    text-align: center;
    margin-bottom: -0.5%;
}

.profile_div{
    border: black 1px solid;
    width: 30%;
    display: inline-block;
    background-color: darkblue;
    margin: 1%;
}

.profile_img{
    width: 100%;
    filter: grayscale(100%);
}

.info_div{
    color: wheat;
    text-align: center;
}

#footer_div{
    overflow: hidden;
    background-color: darkblue;
    color: wheat;
}

#footer_nav_div, #contact_div, #about_div{
    display: flexbox;
    float: left;
    width: 33%;
    text-align: center;
}

#footer_list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;
    list-style: none;
}

.footer_nav_item{
    display: inline;
}

#loc_div, #phone_div, #fax_div{
    display: flex;
    justify-content: center;
}

#fax_icon, #phone_icon{
    margin-right: 2%;
}

#icons_div{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

@media screen and (max-width: 700px) {
    #footer_list{
        margin-top: 1%;
        margin-left: -8%;
    }

    .navbar_item{
        margin: 0;
        margin: 3%;
    }

    #contact_div, #about_div, #footer_nav_div{
        display: block;
        float: none;
        width: 100%;
    }

    .profile_div{
        display: block;
        width: 100%;
    }

    #members_div{
        margin-right: 2%;
    }
}